:root {
	--base-large: calc(var(--base) * 2);
	--base-small: calc(var(--base) / 2);
	--base: 1rem;
	--color-back-alt: rgb(245, 245, 245);
	--color-back-light: rgb(255, 255, 255);
	--color-back: rgb(250, 250, 250);
	--color-border: rgb(200, 200, 200);
	--color-link-hover: rgb(41, 82, 123);
	--color-link: rgb(51, 102, 153);
	--color-text: rgb(51, 51, 51);
	--font: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	background-color: var(--color-back);
	background-attachment: fixed;
	background-image: repeating-linear-gradient(
		75deg,
		transparent,
		transparent calc(var(--base-large) * 10),
		var(--color-back-alt) calc(var(--base-large) * 10),
		var(--color-back-alt) calc(var(--base-large) * 20)
	);
	color: var(--color-text);
	display: grid;
	font-family: var(--font);
	grid-gap: var(--base);
	grid-template-columns: 40% 60%;
	line-height: 2;
	margin: 0 auto;
	max-width: 980px;
	padding: calc(var(--base) * 4);
}

a {
	color: var(--color-link);
	text-decoration: none;
}

a:hover {
	color: var(--color-link-hover);
}

header {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: var(--font);
	line-height: 1;
	text-align: center;
}

header div {
	height: var(--base-large);
	margin: var(--base-small);
	max-width: 100%;
}

header h1 {
	font-size: var(--base-large);
	font-weight: 300;
	margin: calc(var(--base)) 0;
}

header h2 {
	font-size: 1.2rem;
	font-weight: 300;
	margin: var(--base-small) 0;
}

header nav img {
	height: var(--base-large);
	padding: var(--base-small);
}

header .logo {
	border-radius: 50%;
	box-shadow: 0 0 var(--base-large) rgb(153, 153, 153);
	margin: var(--base);
	max-height: calc(var(--base) * 12);
	max-width: calc(var(--base) * 12);
}

header .job img {
	height: calc(var(--base) * 1.5);
	padding: var(--base-small);
}

header .job {
	align-items: center;
	display: flex;
	height: var(--base-large);
	padding: var(--base-small);
}

article {
	align-items: center;
	background-color: var(--color-back-light);
	border-radius: var(--base-small);
	border: 2px solid var(--color-border);
	display: flex;
	flex-direction: column;
	padding: var(--base);
	text-align: center;
}

article h1 {
	line-height: initial;
}

article img {
	height: calc(var(--base-large) * 4);
}

article p {
	flex-grow: 1;
}

main nav .logo {
	display: block;
	height: calc(var(--base-large) * 5);
	margin: 0 auto;
	text-align: center;
}

main p img {
	max-width: 100%;
	text-align: center;
}

main .view-project {
	margin-bottom: var(--base-large);
}

h1 {
	font-size: calc(var(--base) * 1.5);
}

p {
	margin: var(--base) 0;
	padding: 0;
}

section {
	display: grid;
	grid-gap: var(--base);
	grid-template-columns: repeat(
		auto-fit,
		minmax(calc(var(--base) * 15), 1fr)
	);
}

.effect {
	filter: grayscale(0.5);
	transition: 0.5s filter ease;
}

.effect:hover {
	filter: grayscale(0.2);
}

.view-project {
	background-color: var(--color-link);
	border: 2px solid var(--color-border);
	color: var(--color-back-light);
	display: inline-block;
	line-height: 1;
	margin-top: var(--base);
	padding: var(--base-small) var(--base);
}

.view-project:hover {
	background-color: var(--color-link-hover);
	color: var(--color-back-light);
}

@media screen and (max-width: 640px) {
	body {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: var(--base);
	}

	header .logo {
		margin: calc(var(--base-large) * 2);
	}
}
