:root {
	--base: 1rem;
	--base-large: calc(var(--base) * 2);
	--base-small: calc(var(--base) / 2);
	--color-back-light: #fff;
	--color-back: #f9f9f9;
	--color-link: #369;
	--color-text: #333;
	--font:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--font-feature: "Open Sans", Helvetica, sans-serif;
}

body {
	background-color: var(--color-back);
	color: var(--color-text);
	display: grid;
	font-family: var(--font);
	font-size: 16px;
	grid-gap: var(--base);
	grid-template-columns: 40% 60%;
	line-height: 200%;
	margin: 0 auto;
	max-width: 980px;
	padding: calc(var(--base) * 4);
}

a {
	color: var(--color-link);
	text-decoration: none;
}

header {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: var(--font-feature);
	line-height: 1;
	text-align: center;
}

.logo {
	border-radius: 50%;
	box-shadow: 0 0 2em #999;
	margin: var(--base);
	max-height: calc(var(--base) * 12);
	max-width: calc(var(--base) * 12);
}

header div {
	height: var(--base-large);
	margin: var(--base-small);
	max-width: 100%;
}

header h1 {
	font-size: var(--base-large);
	font-weight: 300;
	margin: calc(var(--base)) 0;
}

header h2 {
	font-size: 1.2rem;
	font-weight: 300;
	margin: var(--base-small) 0;
}

header nav img{
	height: var(--base-large);
	padding: var(--base-small);
}

header .job img {
	height: calc(var(--base) * 1.5);
	padding: var(--base-small);
}

header .job {
	display: flex;
	align-items: center;
	height: var(--base-large);
	padding: var(--base-small);
}

article {
	align-items: center;
	background-color: var(--color-back-light);
	border-radius: var(--base-small);
	border: 2px solid #ccc;
	display: flex;
	flex-direction: column;
	padding: var(--base);
	text-align: center;
}

article img {
	height: calc(var(--base-large) * 4);
}

h1 {
	font-size: calc(var(--base) * 1.5);
}

p {
	margin: var(--base) 0;
	padding: 0;
}

p img {
	padding: 0 .2em;
	vertical-align: middle;
}

section {
	display: grid;
	grid-gap: var(--base);
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--base) * 15), 1fr));
}

.effect {
	filter: grayscale(1);
	transition: .5s filter ease;
}

.effect:hover {
	filter: grayscale(.4);
}

@media screen and (max-width: 640px) {

	body {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 1em;
	}

}
