---
layout: default
---

<section id="about">

  <img id="logo" itemprop="photo"
    src="https://secure.gravatar.com/avatar/5750e5553f140aa42f68c6bbefed6989.png?s=250"
    srcset="https://secure.gravatar.com/avatar/5750e5553f140aa42f68c6bbefed6989.png?s=500 2x"
    alt="Profile photo of Gareth Flowers">

  <h1>I do stuff in code</h1>

  <p>I'm a <span itemprop="role title">Software Developer</span> currently
    working for
    <span><a href="http://www.merlinbusinesssoftware.com"><img src="/images/merlin.svg"
      alt="Merlin Business Software" itemprop="affiliation" style="height:30px"></a></span> in
    <span itemprop="location">Chesterfield, England</span>. We develop a suite
    of business software, focusing primarily around a leading enterprise level
    ERP system.
  </p>

  <div id="links">
    <a href="https://github.com/garethflowers" class="button">
      <img src="/images/github.svg" alt="GitHub"> Follow @garethflowers</a>
    <a href="https://twitter.com/garethflowers" class="button">
      <img src="/images/twitter.svg" alt="Twitter"> Follow @garethflowers</a>
  </div>

</section>

<section>

  <h1><a href="/projects/">Projects</a></h1>

  <p>I work on various <a href="/projects/">projects</a>.</p>

  <ul>
    {% for repository in site.github.public_repositories %}
    <li><a href="{{ repository.homepage }}">{{ repository.name }}</a> -
      {{ repository.description }}</li>
    {% endfor %}
  </ul>

</section>

<section>

  <h1>On The Web</h1>

  <p>You can usually find me as @garethflowers around the web...</p>

  <div class="grid">
  {% for social in site.data.social %}
    <div><a href="{{ social.url }}"><img src="{{ social.image }}" alt="{{ social.site }}"></a></div>
  {% endfor %}
  </div>

</section>
