<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
<head>
	<meta charset="utf-8">
	{% seo %}
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#fafafa" />
	<link rel="apple-touch-icon" href="/assets/favicon.png">
	<link rel="author" href="/assets/humans.txt" type="text/plain" />
	<link rel="icon" href="/assets/favicon.ico" sizes="any" />
	<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
	<link rel="manifest" href="/assets/manifest.json" />
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}">
</head>
<body>
	<header itemscope itemtype="http://schema.org/Person">
		<div>
			<a href="/">
				<img class="logo" itemprop="image" src="{{ site.github.owner_gravatar_url }}?s=250" srcset="{{ site.github.owner_gravatar_url }}?s=500 2x"
				alt="Profile photo of {{ site.github.owner_name }}." height="192" width="192">
			</a>
		</div>
		<h1 class="name" itemprop="name">
			<span itemprop="givenName">Gareth</span>
			<span itemprop="familyName">Flowers</span>
		</h1>
		<h2 itemprop="jobTitle">Software Engineer</h2>
		<div>
			<a href="/" itemprop="url">
				{{ site.url | replace_first: 'https://', '' }}
			</a>
		</div>
		<nav>
			<a href="{{ site.github.owner_url }}">
				<img src="/assets/images/github.svg" alt="GitHub" width="32" height="32">
			</a>
			<a href="https://twitter.com/{{ site.github.owner_name }}">
				<img src="/assets/images/twitter.svg" alt="Twitter" width="32" height="32">
			</a>
			<a href="https://www.linkedin.com/in/{{ site.github.owner_name }}">
				<img src="/assets/images/linkedin.svg" alt="LinkedIn" width="32" height="32">
			</a>
		</nav>
	</header>
	{% assign main_class = '' %}
	{% if site.github.is_project_page %}
	{% assign main_class = 'project' %}
	{% endif %}
	<main class="{{ main_class }}">
	 	{% if site.github.is_project_page %}
		<nav>
			<ul class="downloads">
				{% if site.show_downloads %}
				<li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
				<li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
				{% endif %}
				<li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
				{% if site.docker_repository %}
				<li><a href="https://hub.docker.com/r/{{ site.docker_repository }}">View On <strong>DockerHub</strong></a></li>
				{% endif %}
			</ul>
			<ul class="links">
				<li>
					<a href="{{ site.github.repository_url }}">
						<img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ site.github.repository_nwo }}?style=social" height="20">
					</a>
				</li>
				{% if site.docker_repository %}
				<li>
					<a href="https://hub.docker.com/r/{{ site.docker_repository }}">
						<img alt="Docker Pulls" src="https://img.shields.io/docker/pulls/{{ site.docker_repository }}?style=social" height="20">
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		{% endif %}
		{{ content }}
	</main>
</body>
</html>
